<!DOCTYPE html>
<html>
  <body>
    <head>
      <link rel="stylesheet" type="text/css" href="./sp.css">
      <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
      <script>
      function getCsv(){
        var txt = new XMLHttpRequest();
        txt.open('get', "theme.csv", false);
        txt.send();

        var arr = txt.responseText.split('\n');

        var res = [];
        for(var i = 0; i < arr.length-1; i++){
          if(arr[i] == '') break;
          res = arr[i];
        }
        var ret = arr[ Math.floor( Math.random() * arr.length ) ] ;
        document.getElementById("theme").textContent= ret + "！";
      }
      </script>
    </head>
    <div class="container">
      <h2>お題メーカー</h2>
      <div class="box2">
          <div id="theme"></div>
      </div>
      <div class="sp">    
        <form name="testForm">
          <a class="btn-square-shadow" onClick="getCsv();" >お題を決める！</a>
        </form>
      </div>
    </div>
  </body>
</html>